.back-button {


border-color: #93203D ;
padding-bottom: 0px;
margin-bottom: 00px;
padding-top: 0px;
background-color: #560318;
height: 0px;
width: 0px;
}



p {

font-size: 70%;
color:#A10D1F;
}

* {

color: #FFFFFF ;
font-family: Times New Roman;
background-color: #560318 ;

}

}
table {

width: 75%;
height: auto;
table-layout: auto;
border-collapse: collapse;
margin-left: 150px;
margin-right: 100px;
margin-top: 50px;
margin-bottom: 50px;
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
padding-color:#560318 ;
border-color:#560318 ;
;


}

.regt {

font-size: 50px;

}

p {

font-size: 50px;
color: #D0C7C8;

}